header {
    background-color: #131527;
    padding: 0px;
    position: relative; 
    display: flex;
    height: 57px;
  }
  
  header img {
    width: 45px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 50px; /* Ajuste o tamanho da imagem conforme necessário */
    background-color: transparent; /* Cor de fundo para a imagem */
  }
  
  
  header p{
    color: white;
    margin-left: 45px;
    font-size: 23px;
    align-self: center;
    display: flex;
    align-items: center;
    line-height: 2;
  }
  
  header button {
    border: none;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
  }

  table{
    margin-left: 70px;
    text-size-adjust: 20px;
    margin-top: 30px;
  }

  table td{
    text-size-adjust: 50px;
  }